<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultEventsIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <indexAllFields>false</indexAllFields>
            <include hint="list:AddIncludedTemplate">
              
              <!--Include templates in the index-->
              <EventDetails>{1809D6FB-7DA3-46C5-8A62-CF8F07CAC793}</EventDetails>
            </include>
            <include hint="list:AddIncludedField">
            
              <!--Include fields in the index-->
              <contentheading>{2FA16BA9-BD70-4EB7-90DA-47C7E0386E36}</contentheading>
              <contentIntro>{98F7754B-2A82-4FBA-BC2A-1839CCBDA460}</contentIntro>
              <startDate>{CEAE4F16-FEE5-4038-A07F-0EAFFF7F1D1E}</startDate>

            </include>
            
          </documentOptions>
          <initializeOnAdd>false</initializeOnAdd>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <!--<typeMatches hint="raw:AddTypeMatch" ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldMap/typeMatches/*"/>-->
            <typeMatches hint="raw:AddTypeMatch">
              <typeMatch typeName="text" type="System.String" fieldNameFormat="{0}_t" cultureFormat="_{1}" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="datetime" type="System.DateTime" fieldNameFormat="{0}_tdt" format="yyyy-MM-dd'T'HH:mm:ss.FFF'Z'" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <typeMatch typeName="string" type="System.String" fieldNameFormat="{0}_s" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </typeMatches>
            <fieldNames hint="raw:AddFieldByFieldName">
              <!-- how fields are indexed -->
              <field fieldName="contentheading" returnType="text"/>
              <field fieldName="contentintro" returnType="text"/>
              <field fieldName="startdate" returnType="datetime" formate="yyyy-MM-dd'T'HH:mm:ss'Z'"/>
              <!-- Add your field configuration here -->
            
            </fieldNames>

          </fieldMap>
          <!-- **** Inherited default configuration **** -->
          <fieldReaders ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/documentBuilderType" />

        </defaultEventsIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>